* {
  margin: 0;
  padding: 0;
}
.w-1000 {
  width: 320px;
    padding: 25px;
}
@media (min-width:900){
  
}
.p {
  padding-right: 50px;
}
.bg {
  background: rgba(255, 255, 255, 0.925);
}
.bo {
  border: none ;
}
.w-30 {
  width: 50%;
}
.offcanvas {
  --bs-offcanvas-width: 550px;
}
.font {
  font-size: 20px;
}
.max {
  max-width: 1220px;
}
.w-20 {
  width: 80px;
}
.v {
  left: 12px;
    right: auto;
}
.v {
    color: #fff;
    text-align: center;
    display: block;
    border-radius: 30px;
    height: 40px;
    right: 16px;
    width: 40px;
    top: 22px;
  position: absolute;
  transition: transform .5s ease;
}
.menu-item {
  flex-direction: row;
  padding: 8px 12px;
  direction: rtl;
}
.h-21 {
      color: white;
      padding: 220px 0;
      text-align: center;
    height: 35rem;
    }
    .size {
      font-size: 4.5rem;
    }
    .slide1{
      background-image: url("../images/slider2.jpg");
    }
    .slide2{
        background: url("../images/11.jpg");
    }
    .big {
      font-size: 20px;
    }
    .info-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin-top: 100px;
    }
    .info-box {
    background: rgba(109, 109, 255, 0.315);
    color: white;
    padding: 40px 30px 25px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    }
    .size1 {
      font-size: 3rem;
    }
    .upi {
      height: 400px;
    }
    .mt-23 {
      margin-top: 6.5rem;
    }
    .w-100m {
      width: 1351px;
    }
    .m-6 {
      margin: 6rem 0 1rem;
    }
    .mx {
      margin: 0 200px 0 200px;
      line-height: 35px;
    }
    .zize {
      width: 90px;
      padding: 15px;
    }
    .w-m {
      width: 90px;
      background: white;
    }
    .mk {
      max-width: 90px;
    }
    .h-22 {
      background: url("../images/call-to-action.jpg") no-repeat;
      color: white;
      padding: 120px 0;
      text-align: center;
    height: 30rem;
    }
    .size2 {
      font-size: 3rem;
    }